<input type="hidden" ng-model="letter.id" />
 
<label for="subject">Subject</label>
<input type="text" ng-model="letter.subject" />
 
<label for="body">Body</label>
<input type="text" ng-model="letter.body" />
 
<button type="submit">Save</button> 
