<form>
  Subject: 
  <input ng-model="subject_cont" />
  <button ng-click="search()" />
</form>

<ul>
  <li ng-repeat="letter in letters">
    Subject: {{letter.subject}} <br/>
    Body: {{letter.body}}
	<a href="/letters/{{letter.id}}">Show</a>
    <a href="/letters/{{letter.id}}/edit">Edit</a>
    <a href="" ng-click="destroy(letter.id)">Delete</a>
  </li>
</ul>
 
<a href="/letters/new">Add new letter</a>
